/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'normalize';
body{
  font-size: 1.4rem; 
  width: 100%;
  text-align: center;
}
a {
  text-decoration: none;
}
li{
list-style-type:none;
}
#sidebar{
 float: left;
  text-align: left;
  width:280px;
  background-color: lightskyblue;
  height: 1500px;
}
#sidebar li{
  line-height: 50px;
}
#main_content{
 
}
header{
  display: flex;
  background-color: lightpink;
}
.header_title{
  margin: 0px 20px;
}
.header_button{
  display: flex;
  margin: 20px 20px 20px 1200px;;
}
.post_wrapper{
  
}
.post_box{
  float: left;
  background-color: moccasin;
  width:300px;
  height: 250px;
  box-shadow: 2px 2px 4px gray; 
 padding: 20px;
 margin:15px;
}

